.cart-box {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0 20px;
  margin: 50px 0;
  .table {
    .quantity {
      display: flex;
      justify-content: space-between;
      input {
        margin: 0 20px;
      }
    }

    tbody {
      border-top: 1px solid #c61d21;
      border-bottom: 1px solid #c61d21;
      tr {
        td {
          border-bottom: 0;
          text-align: center;
          vertical-align: middle;
          img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
          }
        }
      }

      input {
        text-align: center;
      }
    }

    tfoot {
      button {
        width: 120px;
      }
    }
  }

  .cart-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      font-size: 16px;
      cursor: pointer;
      padding: 10px;
      border-radius: 5px;
      &:hover {
        background-color: #f00;
        color: #fff !important;
        box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.3);
      }
    }
  }
}
