.box {
  width: 90%;
  margin: 100px auto;
  height: 500px;

  h2 {
    margin: -60px 0 20px;
  }

  ul {
    li {
      font-size: 22px;
      margin: 20px 0;
    }
  }

  img {
    width: 100%;
    max-height: 500px;
    max-width: 500px;
  }
}
