<div class="box mt-5">
  <div class="my-2 w-25">
    <label for="categories" class="my-1">Categories: </label>
    <select id="categories" name="categories" class="form-control">
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
      <option value="4">Option 4</option>
    </select>
  </div>

  <div class="row">
    <div class="col-md-3 col-sm-12">
      <div class="item">
        <img src="assets/test-01.jpg" alt="Product Image" />
        <div class="body">
          <h4>Product Title</h4>
          <p>Test add description</p>
        </div>
        <div
          class="px-3 mb-2 d-flex justify-content-between align-items-center"
        >
          <button class="btn btn-success">Add to cart</button>
          <span>50 NIS</span>
        </div>
      </div>
    </div>
  </div>
</div>
